:root {
  --font-size-900: 2.25rem;
  --font-size-750: 1.875rem;
  --font-size-600: 1.5rem;
  --font-size-500: 1.25rem;
  --font-size-350: 0.875rem;
  --font-size-325: 0.8125rem;

  --lh-headings: 120%; /* Line height for headings */
  --lh-body: 160%; /* Line height for body text */

  --page-max-width-lg: 1260px;
  --page-max-width-md: 1024px;
  --page-max-width-sm: 720px;
  --page-gutter-lg: 40px;
  --page-gutter-md: 20px;
  --section-spacing-lg: 80px;
  --section-spacing-md: 60px;
  --section-spacing-sm: 40px;

  --bg-primary: #f5f0f7;
}

:focus {
  outline: 4px solid #412980;
  border-radius: 8px;
}

::selection {
  background: #eaddff;
  color: #21005d;
}

/* This is for browser compatibility with older versions of Safari */
::-webkit-selection {
  background: #eaddff;
  color: #21005d;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
  line-height: 1.65;
}

main {
  position: relative;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  background-color: #fafafc;
  color: #412980;
  font-size: 18px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  flex-direction: column; /* Stack children vertically */
  width: 100%; /* Full viewport width */
}

h1,
h2,
h3,
h4,
h5 {
  line-height: var(--lh-headings);
  margin: 0;
}

h1 {
  font-size: var(--font-size-900);
}
h2 {
  font-size: var(--font-size-750);
}
h3 {
  font-size: var(--font-size-600);
}
h4 {
  font-size: var(--font-size-500);
}
p a {
  line-height: var(--font-size-350);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: border-bottom 0.4s;
  background-color: transparent;
}

#navbar.scrolled {
  background-color: #eaddff;
}
nav a {
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
  font-weight: 500;
}
.link {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.link a {
  background-color: transparent;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 18px; /* Base font size */
  font-weight: 600;
  color: #412980;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.1578em;
  padding-left: 0px;
  padding-right: 0px;
}

.link.material-icons {
  font-size: 18px;
  color: #412980;
  text-decoration: none;
}

.link a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 0.1578em;
  font-weight: 800;
}

.link a:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 2px #412980; /* Example: custom focus style */
}

.linkWrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: right;
  font-size: 16px;
  line-height: 140%;
  font-weight: 600;
}

.navLink:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 0.1578em;
}

ol {
  /* font-weight: bold; */
  font-size: var(--f-body);
}

ol > li > ul {
  list-style-type: disc; /* or other */
  font-weight: normal;
  font-size: var(--font-size-body);
}
li {
  margin-bottom: 8px;
}

.wrapper {
  width: 100%;
}

.section {
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sectionContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin-bottom: 16px;
  grid-column: 1 / -1;
}

.bg-alt {
  background-color: #fafafa;
}
.navSection {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0; /* Align to the left edge of the viewport */
  width: 100%;
  z-index: 1000;
}

/* ==========================================================================
   Additional Content Styles
   ========================================================================== */

.additional-content {
  border-top: 1px solid #d9d9d9;
  margin-top: 20px;
  padding-top: 20px;
  color: #412980;
  /* overflow: hidden;
  transition: height 0.3s ease;
  height: 0; */
}

.additional-content li {
  margin-bottom: 16px;
  line-height: 160%;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
}

.additional-content ol {
  counter-reset: item; /* Resets the counter */
  list-style-type: none; /* Removes default numbering */
  margin-top: 0; /* Removes top margin */
  padding-left: 0; /* Adjust padding as needed */
}

.additional-content ol > li {
  list-style: none; /* Removes default list style */
  position: relative; /* Positions the counter relative to the list item */
  padding-left: 1.5em; /* Provides space for the counter */
}

.additional-content ol > li::before {
  content: counter(item) ". "; /* Adds a number before each li */
  counter-increment: item; /* Increments the number for each li */
  font-weight: bold; /* Makes the number bold */
  position: absolute; /* Positions the counter absolutely within the list item */
  left: 0; /* Aligns the counter to the left */
}

/* This will style the unordered list with bullets */
.additional-content ul {
  list-style-type: disc; /* Adds bullets to unordered list items */
  padding-left: 1.5em; /* Indent the bullets */
}

/* Ensure that the nested ul has a different list style if needed */
.additional-content ul ul {
  list-style-type: circle; /* Changes the bullet style for nested lists */
}

/* ==========================================================================
   Card Styles (why it matters card)
   ========================================================================== */

.card {
  background-color: #ffd8e4;
  border-radius: 8px;
  padding: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
  grid-column: span var(--num-grid-columns);
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  /* margin-bottom: 16px; */
}

.material-symbols-outlined {
  font-size: 32px;
  margin-right: 12px;
}

.card-header h4 {
  margin-bottom: 0;
}

.summaryContainer {
  display: flex;
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment */
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: border-bottom 0.4s;
}

.footerSection {
  padding: 24px 0 50px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fafafc;
  border-top: 1px solid #d9d9d9;
}

.footerGrid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 40px 24px;
  max-width: var(--page-max-width-md);
  height: 80px;
  padding-left: var(--page-gutter-md);
  padding-right: var(--page-gutter-md);
}

code {
  font-family: "Consolas", "Monaco", "Courier New", monospace; /* Use a monospaced font */
  background-color: #ffd8e4; /* Light grey background */
  color: #412980; /* Dark grey text */
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 18px; /* Optional: Slightly smaller font size for inline code */
}

.heroTitle {
  text-align: center;
}

.hero {
  background-image: linear-gradient(180deg, #eaddff, #fafafa);
  min-height: 70vh;
  position: relative;
  width: 100%;
}

.grid {
  width: 100%;
  max-width: var(--page-max-width-md);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(var(--num-grid-columns), 1fr);
  flex-direction: row;
  gap: 0 20px;
  padding-top: var(--section-spacing-lg);
  padding-bottom: var(--section-spacing-sm);
  padding-left: var(--page-gutter-md);
  padding-right: var(--page-gutter-md);
}

.navGrid {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  max-width: var(--page-max-width-md);
  height: 80px;
  margin: 0 auto; /* Center the content within the max width */
  padding: 0 24px;
}

.articleGrid {
  width: 100%;
  max-width: var(--page-max-width-md);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(var(--num-grid-columns), 1fr);
  flex-direction: column;
  gap: 0 20px;
  padding-top: 24px;
  /* align-items: center; */
  padding-bottom: 24px;
  padding-left: var(--page-gutter-md);
  padding-right: var(--page-gutter-md);
}

.heroWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: span var(--num-grid-columns);
  max-width: var(--page-max-width-sm);
  margin: 0 auto;
}

.heroWrapper p {
  color: #412980;
  text-align: center;
}

.callout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
  width: 100%;
  background-color: #f5f0f7;
  border-radius: 8px;
  padding: 24px;
}

.contentWrapper {
  grid-column: span var(--num-grid-columns);
  justify-content: center;
  margin-bottom: 24px;
}

.contentWrapperSection {
  grid-column: 1 / -1;
  justify-content: center;
  margin-bottom: 24px;
}

.disclaimer {
  font-size: var(--font-size-325);
}

.imageWrapper {
  width: 100%;
  object-fit: fill;
  margin-top: 24px;
  max-width: 678px;
  max-height: 440px;
  margin: 0;
  grid-column: span var(--num-grid-columns);
}

.summaryImageWrapper {
  width: 100%;
  object-fit: fill;
  margin-top: 24px;
  max-width: 100px;
  /* max-height: 100px; */
  margin: 0;
  grid-column: span var(--num-grid-columns);
  padding-right: 16px;
}

.image-left {
  grid-column: span 7;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btnWrapper {
  padding: 32px;
}

.btn {
  border: #eaddff;
  font-family: "Lato", sans-serif;
  font-size: var(--f-body);
  color: #412980;
  padding: 8px 16px;
  min-height: 44px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  justify-content: center;
}

.btn .material-icons {
  font-size: 24px;
  color: #412980;
}

.btn:hover {
  background-color: #d0bcff;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #412980;
}

.top-btn {
  width: 200px;
  background-color: #eaddff;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: var(--f-body);
  color: #412980;
  padding: 8px 16px;
  min-height: 44px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-left: auto;
  justify-content: center;
}

.top-btn .material-icons {
  font-size: 24px;
  color: #412980;
}

.top-btn:hover {
  background-color: #d0bcff;
}

.top-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #412980;
}

.button-container {
  display: flex;
  float: right;
  gap: 16px;
  grid-column: 1 / -1;
  flex-direction: column; /* Switch to horizontal stacking */
  width: 100%;
}

/* Playbook styles  */
article {
  padding: 20px;
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  max-width: 869px;
  overflow-y: auto;
  order: 1;
}

.article-section {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin-bottom: 16px;
  grid-column: 1 / -1;
}

.articleWrapper {
  grid-column: 5 / -1;
  flex-direction: column;
  order: 2;
}

.article-title {
  font-size: var(--f-lg);
  font-weight: var(--font-weight-bold);
  margin-bottom: 16px;
}

.section-title {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  margin-top: 16px;
  margin-bottom: 16px;
}

.section-summary {
  margin-bottom: 34px;
}

/* Expand Button Styles */
.expand-btn {
  width: 100%;
  background-color: #eaddff;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: var(--f-body);
  color: #412980;
  padding: 8px 16px;
  min-height: 44px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-left: auto;
  justify-content: center;
}

.expand-btn .material-icons {
  font-size: 24px;
  color: #412980;
}

.expand-btn:hover {
  background-color: #d0bcff;
}

.expand-btn:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 2px #412980; /* Example: custom focus style */
}

.tocWrapper {
  background-color: #21005d;
  grid-column: span 3;
  min-height: 240px;
}

@media screen and (max-width: 719px) {
  .footerSection,
  .footerGrid {
    /* Adjusts the footer layout for smaller screens */
    flex-direction: column;
    align-items: center; /* Ensure items are centered when stacked */
    height: auto; /* Allows the footer to expand based on content */
  }

  .button-container {
    flex-direction: column; /* Stack buttons vertically */
    width: 100%; /* Use full width to accommodate all items */
    margin-top: 20px; /* Add some space at the top if needed */
  }

  .link,
  .top-btn {
    width: 100%; /* Ensure links and button use full width */
    text-align: center; /* Center the text within each link/button */
    margin-bottom: 10px; /* Add some space between stacked items */
  }
}

@media screen and (min-width: 720px) {
  :root {
    --num-grid-columns: 8;
  }

  .grid {
    grid-template-columns: repeat(var(--num-grid-columns), 1fr);
  }

  .contentWrapper,
  .imageWrapper {
    grid-column: span 5;
  }

  .expand-btn,
  .link {
    width: auto;
  }

  .button-container {
    flex-direction: row; /* Switch to horizontal stacking */
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --num-grid-columns: 12;
  }

  .grid {
    grid-template-columns: repeat(var(--num-grid-columns), 1fr);
    /* align-items: center; */
    justify-items: center;
    padding-left: var(--page-gutter-lg);
    padding-right: var(--page-gutter-lg);
  }

  .contentWrapper {
    grid-column: 1 / span 5;
  }

  .contentWrapper.long {
    grid-column: 5 / -1;
  }

  .imageWrapper {
    grid-column: 7 / -1;
  }

  .grid.swapped .contentWrapper {
    grid-column: 9 / -1; /* Content moves to the last 4 columns */
    order: 2;
  }

  .grid.swapped .imageWrapper {
    grid-column: 1 / 7; /* Image moves to the first 6 columns */
  }

  .button-container {
    flex-direction: row; /* Switch to horizontal stacking */
  }
}
