:root {
  /* Surface */
  --surface: #f3f6fc;
  --on-surface: #1d1b20;
  --surface-container: #fafafa;

  /* Primary */
  --primary: #0761d4;
  --on-primary: #ffffff;
  --primary-container: #d9e7fe;
  --on-primary-container: #2c0b8e;

  /* Error */
  --error: #b3261e;
  --on-error: #ffffff;
  --error-container: #f9dedc;
  --on-error-container: #410e0b;

  /* Success */
  --success: #3b693a;
  --on-success: #ffffff;
  --success-container: #caf1d6;
  --on-success-container: #002105;

  --font-size-900: 2.25rem;
  --font-size-750: 1.875rem;
  --font-size-600: 1.5rem;
  --font-size-500: 1.25rem;
  --font-size-400: 1rem;
  --font-size-350: 0.875rem;
  --font-size-325: 0.8125rem;

  --lh-headings: 120%;
  --lh-body: 160%;

  --page-max-width-lg: 1260px;
  --page-max-width-md: 1024px;
  --page-max-width-sm: 720px;
  --page-gutter-lg: 40px;
  --page-gutter-md: 20px;
  --section-spacing-lg: 80px;
  --section-spacing-md: 60px;
  --section-spacing-sm: 40px;

  --font-family-mono: "League Mono", "Fira Mono", monospace;
}

@font-face {
  font-family: "GT Maru";
  src: url("fonts/GT-Maru-Mono-Regular-Trial.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT Maru";
  src: url("fonts/GT-Maru-Mono-Bold-Trial.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GT Maru";
  src: url("fonts/GT-Maru-Mono-Bold-Trial.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GTMaruMegaMini";
  src: url("fonts/GT-Maru-Mega-Mini-Trial.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:focus {
  outline: 2px solid #1d1b20;
  border-radius: 2px;
}

/* This is for browser compatibility with older versions of Safari */
::-webkit-selection {
  background: #fafafa;
  color: #21005d;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: var(--font-size-500);
  line-height: 1.65;
  letter-spacing: -0.16px;
}

/* body.dark-theme {

  --surface: #141218;
  --on-surface: #e6e0e9;
  --surface-container: #2b2930;


  --primary: #d0bcff;
  --on-primary: #381e72;
  --primary-container: #4f378b;
  --on-primary-container-dark: #eaddff;


  --error: #f2b8b5;
  --on-error: #601410;
  --error-container: #8c1d18;
  --on-error-container-dark: #f9dedc;

} */

main {
  position: relative;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  background-color: var(--surface);
  color: var(--on-surface);
  font-size: 18px;
  font-weight: 400;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  line-height: calc(1em + 0.725rem);
  -webkit-font-smoothing: antialiased;
}

body {
  flex-direction: column;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: var(--lh-headings);
  margin: 0;
  color: var(--on-primary-container);
  overflow-wrap: break-word;
  font-family: "GT Maru", sans-serif;
}

h1 {
  font-size: 80px;
  font-family: "GTMaruMegaMini", sans-serif;
  color: var(--on-primary-container);
}
h2 {
  font-size: var(--font-size-750);
  margin-top: 96px;
  margin-bottom: 32px;
}

/* h2:first-child {
  margin-top: 0;
} */

h3 {
  font-size: var(--font-size-600);
  margin-top: 48px;
  margin-bottom: 24px;
}
h4 {
  font-size: var(--font-size-500);
}
p a {
  line-height: var(--font-size-350);
}

p {
  text-wrap: pretty;
  margin-bottom: 24px;
  overflow-wrap: break-word;
}

a {
  color: var(--primary);
  align-items: center;
  display: inline-flex;
}
a:hover {
  text-decoration-thickness: 3px;
  transition: text-decoration-thickness 0.2s ease,
    text-underline-offset 0.2s ease;
}

li {
  margin-bottom: 16px;
}

ol {
  counter-reset: custom-ol-counter; /* Create a new counter */
  list-style: none; /* Remove default list styles */
  padding-left: 0; /* Remove default padding */
}

ol li {
  counter-increment: custom-ol-counter; /* Increment the counter */
  position: relative; /* Required for absolute positioning of pseudo-elements */
  padding-left: 30px; /* Add space for the custom number */
}

ol li::before {
  content: counter(custom-ol-counter) "."; /* Use the counter as content */
  position: absolute;
  left: 0; /* Align to the left of the list item */
  font-weight: bold; /* Customize as needed */
  color: #0b57d0; /* Customize as needed */
}

nav h2 {
  font-size: calc(1rem);
  font-weight: 800;
  letter-spacing: 2px;
}

nav a {
  font-weight: 600;
  font-size: var(--font-size-400);
  letter-spacing: 2px;
  text-decoration: none;
  border-left: 2px solid var(--on-surface);
  padding: 0.5rem 1rem;
  width: 100%;
}

nav a:hover {
  text-decoration: underline;
}

.current {
  border-left: 2px solid var(--primary);
  background-color: var(--primary-container);
}

code {
  position: relative;
  display: inline;
  /* font-family: var(--font-family-mono); */
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 200%;
  padding: 4.5px 6px;
  margin: 1px -1px;
  background-color: var(--primary-container);
  color: var(--on-surface);
  background: rgba(115, 125, 140, 0.17);
  border-radius: 3px;
  -webkit-box-decoration-break: clone;
}

kbd {
  position: relative;
  display: inline;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 200%;
  padding: 4.5px 6px;
  margin: 1px -1px;
  background-color: var(--primary-container);
  color: var(--on-surface);
  background: rgba(115, 125, 140, 0.17);
  border-radius: 3px;
  -webkit-box-decoration-break: clone;
}

strong {
  color: var(--on-primary-container);
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

header {
  width: 100%;
  background-color: var(--surface);
}

.stylised {
  font-style: italic;
  font-size: 24px;
  color: #2c0b8e;
}

.alt-style {
  color: var(--primary);
}

.skip {
  margin-left: 16px;
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

.responsive-image {
  /* Existing styles */
  margin: 0 auto;
  margin-top: 32px;
  display: block;
  border-radius: 8px;
  position: relative;
  width: 100%;
  max-width: 68.75rem;
}

.responsive-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.caption-header {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--on-surface);
  padding: 8px 16px;
  border-radius: 2px 2px 16px 16px;
  margin-top: 8px;
}

.caption-header.do .caption-icon {
  color: var(--on-success-container);
}

.caption-header.do {
  background-color: var(--success-container);
}

.caption-header.dont .caption-icon {
  color: var(--on-error-container); /* Dark red color for 'Don't' icon */
}

.caption-header.dont {
  background-color: var(--error-container);
}

.caption-title {
  font-weight: bold; /* If you want the title to be bold */
}

.caption-text {
  margin-top: 16px;
  margin-bottom: 32px;
  padding: 0 16px;
  font-size: var(--font-size-400);
}

.hero {
  position: relative;
  width: 100%;
  min-height: 60vh; /* Change from fixed height to minimum height */
  background-color: var(--surface-container);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 80px;
  padding-top: 0;
}

.hero img {
  max-width: 100%;
  height: auto;
}

.italic {
  font-style: italic;
}

.terms-text {
  font-style: italic;
  font-size: var(--font-size-350);
}

.container {
  display: flex;
  width: 100%;
  max-width: 68.75rem;
  margin-left: auto;
  margin-right: auto;
  gap: 40px;
  padding: 32px;
  justify-content: center;
}

.article-flex {
  flex: 1 1 42.875rem;
  max-width: 686px;
}

.aside-toc {
  display: none;
  box-sizing: border-box;
  flex: 0 1 15.625rem;
  line-height: 1.725rem;
  margin: 4px 0 0 auto;
  max-height: calc(100vh - 60px);
  overflow: auto;
  padding-bottom: 16px;
  padding-left: 16px;
  position: sticky;
  top: 20px;
}

.summary {
  max-width: 800px;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: var(--surface-container);
  margin-top: 40px;
  width: 100%;
  gap: 10px;
}

.site-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--surface-container);
  width: 100%;
  gap: 10px;
}

.container .aside-toc,
.container article {
  padding-top: 80px;
}

nav .container {
  padding: 8px 32px;
}

.callout {
  position: relative;
  padding: 24px 32px;
  font-size: var(--font-size-500);
  margin-top: 48px;
  margin-bottom: 64px;
  border-left: 3px solid;
  border-radius: 4px;
  transition: background 350ms ease 0s;
  font-size: var(--font-size-400);
}

.callout-information {
  background-color: var(--primary-container);
  border-color: var(--primary);
  color: var(--on-primary-container);
  font-size: var(--font-size-500);
}

.card {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: var(--on-primary);
  padding: 24px 32px;
}

.card-image {
  width: 150px;
  object-fit: cover;
  height: 100%;
  padding: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.card-button {
  margin-top: 12px;
  align-self: start;
  padding: 10px 20px;
  border: none;
  background-color: var(--primary);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  justify-content: center;
}

.card-button:hover {
  background-color: #0056b3; /* Darker shade of blue when hovering */
}

.external-link {
  text-decoration: none;
  height: 44px;
  gap: 16px;
  align-items: center;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}

.theme-toggle {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between icon and text */
  padding: 4px 12px; /* Padding around the text and icon */
  border: none; /* Removes default border */
  background-color: #f0f0f0; /* Light background color */
  color: #333; /* Text color */
  cursor: pointer; /* Changes cursor to pointer on hover */
  font-family: inherit; /* Ensures font consistency with the site */
  border-radius: 4px; /* Optional: rounds the corners */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  flex-grow: 0; /* Prevents the button from growing */
  flex-shrink: 0;
  width: auto;
  max-height: 20px;
}

.theme-toggle:hover {
  background-color: #e0e0e0; /* Slightly darker on hover */
}

.theme-toggle .material-icons {
  font-size: 20px; /* Adjust based on your design */
}

.icon-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(calc(-50% - 1.5px), -50%);
  padding: 8px;
  background: var(--surface);
  border-radius: 50%;
  transition: background 350ms ease 0s;
  /* Ensure there's enough space for the icon */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapper .material-icons {
  color: var(--primary);
  font-size: 24px;
}

.icon-left,
.icon-right {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.mini-logo {
  font-family: "GTMaruMegaMini", sans-serif;
  font-size: var(--font-size-600);
  color: var(--on-primary-container);
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;
}

.content-divider {
  height: 1px; /* Height of the border */
  background-color: var(--primary); /* Color of the border */
  width: 100%; /* Full width */
  margin-bottom: 20px;
  margin-top: 96px;
}

#myBtn {
  display: none; /* Initial state might be hidden until a certain action occurs */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 12px;
  font-size: 18px;
  display: flex; /* Make it a flex container */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

#myBtn:hover {
  background-color: #555;
}

/* Styles for small devices */
@media (min-width: 490px) {
}

/* Styles for medium devices */
@media (min-width: 768px) {
  .hero h1 {
    font-size: 80px; /* Smallest size */
  }
}

@media (max-width: 768px) {
  .site-footer .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* Remove justify-content as it's not needed with flex-direction: column */
  }

  /* If you have specific styles for children of .container that need adjusting */
  .site-footer .logo-container,
  .site-footer .icon-left {
    width: 100%; /* Make each item take full width */
    margin-bottom: 16px; /* Add space between stacked items */
    /* Ensure last item doesn't add extra space at the bottom */
  }

  .site-footer .icon-left:last-child {
    margin-bottom: 0;
  }
}

/* Styles for large devices */
@media (min-width: 1040px) {
  .aside-toc {
    display: block;
  }
  .hero h1 {
    font-size: 120px; /* Further increase for medium devices */
  }
}

/* Styles for extra large devices */
@media (min-width: 1440px) {
  .callout {
    margin-left: -35px;
    margin-right: -35px;
  }
  .hero h1 {
    font-size: 180px; /* Maximum size for extra large devices */
  }
}
